* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header-logo {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.header-nav {
  grid-column: 1;
}

.header-login {
  grid-column: 2;
}

.content-left {
  grid-area: cleft;
}

.content-right {
  grid-area: cright;
}

.footer {
  grid-area: ft;
}

.wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "header header"
    "cleft cright"
    "ft ft";
}

.wrapper > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
